@import '../../res/scss/variables';

.container {
  margin-right: 88px;
  margin-left: 88px;
}

// .list {
//   display: flex;
//   flex-wrap: wrap;
// }

.title {
  padding-top: 65px;
  text-align: center;
  color: $text-primary;
  font-family: $font-primary;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
}

.text {
  text-align: center;
  color: $text-secondary;
  font-family: $font-secondary;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  word-break: break-all;
}

.item {
  background-color: $bg-secondary;
  margin: 0 24px 24px 0;
}

.item2 {
  width: 620px;
  background-color: $bg-secondary;
  margin: 0 24px 24px 0;
}

.image {
  margin: auto;
}

.items {
  display: inline-flex;
}
